@charset "UTF-8";
.footerMainBlock{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: var(--sec-bkg-color);
}
.footerList{
    color: white;
    list-style: none;
}
.footerList li{
    margin-bottom: 10px;
    font-size: 15px;
}
.footerList li:first-child{
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
    margin-bottom: 10px;
}