/*--START-BODY-ADITIONAL-STYLES--*/
body{
    overflow: hidden;
}
/*--END-BODY-ADITIONAL-STYLES--*/
/*--START-COMING-STYLES--*/
.proxMainContainer{
    position: relative;
}
.proxMainTitle{
    position: absolute;
    font-size: 85px;
    color: rgba(0, 0, 0, 0.137);
    -webkit-text-stroke: 0.5px rgb(57, 4, 182);
    animation: titleAnimation 20s linear infinite;
}
/*--START-ANIMATION-ELEMENTS-STYLES--*/
.blockAnimation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    height: 85%;
    width: 100%;
}
.circlesBlock{
    position: absolute;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: 375px;
    grid-gap: 20px;
    width: 500px;
    height: 500px;
    animation: frsCubeAnimation 15s linear infinite;
}
.frsCircle, .secCircle, .thdCircle, .forCircle{
    position: relative;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}
.frsCircle{
    animation: frsCircleAnimation 17s linear infinite;
}
.secCircle{
    animation: secCircleAnimation 19s linear infinite;
}
.thdCircle{
    animation: thdCircleAnimation 15s linear infinite;
}
.forCircle{
    animation: forCircleAnimation 21s linear infinite;
}
.frsCube{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 2px solid rgb(18, 132, 185);
    animation: frsCubeAnimation 15s linear infinite;
}
.secCube{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px solid yellowgreen;
    animation: secCubeAnimation 15s linear infinite;
}
.thdCube{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(205, 202, 50);
    animation: secCubeAnimation 15s linear infinite;
}
/*--END-ANIMATION-ELEMENTS-STYLES--*/
/*--MEDIA-QUERYS--*/
@keyframes frsCubeAnimation {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
    35%{
        scale:1.2;
        border-radius: 50%;
    }
    70%{
        border-radius: 0;
        transform:skew(50%);
    }
    
}
@keyframes secCubeAnimation {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
    35%{
        border-radius: 50%;
    }
    70%{
        border-radius: 0;
        transform:skew(50%);
    }
}
@keyframes frsCircleAnimation{
    35%{
        scale: 0.7;
    }
    70%{
        scale: 0.5;
    }
}
@keyframes secCircleAnimation{
    35%{
        scale: 0.5;
    }
    70%{
        scale: 0.7;
    }
}
@keyframes thdCircleAnimation{
    35%{
        scale: 0.3;
    }
    70%{
        scale: 0.5;
    }
}
@keyframes forCircleAnimation{
    35%{
        scale: 0.6;
    }
    70%{
        scale: 0.75;
    }
}
@keyframes titleAnimation{
    35%{
        -webkit-text-stroke: 0.5px rgb(122, 149, 163);
        color: rgba(0, 0, 0, 0.603);
    }
    70%{
        -webkit-text-stroke: 0.5px rgb(155, 172, 64);
        color: rgba(0, 0, 0, 0.753);
    }
    
}
@media (max-width: 1440px) {
    .circlesBlock{
        display: none;
    }
    
}
@media (max-width: 770px) {
    .frsCube{
        height: 200px;
        width: 200px;
    }
    .secCube{
        height: 100px;
        width: 100px;
    }
    .thdCube{
        height: 50px;
        width: 50px;
    }
    .proxMainTitle{
        font-size: 60px;
    }
}
@media (max-width: 520px) {
    .frsCube{
        height: 120px;
        width: 120px;
    }
    .secCube{
        height: 70px;
        width: 70px;
    }
    .thdCube{
        height: 50px;
        width: 50px;
    }
    .proxMainTitle{
        font-size: 40px;
    }
    .blockAnimation{
        height: 60%;
    }
}
